<!doctype HTML>

<html>
<head>
    <meta charset="utf-8">
    <title>About page for the new website</title>
</head>
<body>
{{> header}}

<ul>
    <li>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure excepturi tenetur dicta adipisci fuga sequi voluptates qui, minus nulla deserunt? Fugit consequuntur distinctio provident itaque molestiae libero, aspernatur non culpa!</p>
    </li>
    <li>
        <p>Earum porro tempore, eos recusandae ad perspiciatis fugit, numquam quidem rem vero ullam! Autem blanditiis eius nesciunt, est eveniet itaque ut quibusdam laudantium placeat accusamus adipisci, atque harum nostrum nemo.</p>
    </li>
    <li>
        <p>Quod quaerat doloremque harum. Ullam enim minus unde, laudantium harum voluptate rem quidem. Aliquid ea et voluptas architecto dolorum error fuga! Provident cumque debitis suscipit maxime natus dolorem porro mollitia.</p>
    </li>
    <li>
        <p>Velit totam sequi tempora vitae. Quisquam aut autem quaerat eligendi dignissimos labore nobis, nisi perferendis id quasi libero magni repudiandae assumenda molestiae, ratione. Magnam, fugit, incidunt. Soluta quas consequatur ipsa.</p>
    </li>
</ul>

{{> footer}}
</body>
</html>
